@import '../../variables.scss';

.input {
    box-sizing: border-box;
    width: clamp(256px, 100%, 900px);
    height: 40px;
    border: 2px solid $secondary_color;
    border-radius: 10px;
    padding: 5px 10px;
    outline: none;
    margin-inline: auto;
    background-color: $accent_color;
    color: $text_color;
    font-weight: bold;
    margin-bottom: 20px;
    transition: $animation;

    &::placeholder {
        color: #fffdfd9a;
    }

    &:hover {
        background-color: darken($accent_color, 7);
    }

    &:focus {
        background-color: $additional_color;
    }
}