.input {
    box-sizing: border-box;
    width: clamp(256px, 85%, 900px);
    height: 40px;
    border: 2px solid #697FD9;
    border-radius: 10px;
    padding: 5px 10px;
    outline: none;
    margin-inline: auto;
    background-color: #8B95C2;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;

    &::placeholder {
        color: #fffdfd9a;
    }

    &:focus {
        border-color: #0B2CB3;
        background-color: #6375c4;
    }
}