.app {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  min-width: 310px;
  max-width: 1024px;
  min-height: 500px;
  max-height: 1024px;

  h1 {
    color: #4f70f1;
  }
}

.button_wrapper {
  display: flex;
  justify-content: space-around;
}