@import '../../variables.scss';

.link {
    display: block;
    width: fit-content;
    margin-inline: auto;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: $text_color;
    font-weight: bold;
    border: 2px solid $secondary_color;
    background-color: $accent_color;
    outline: none;
    cursor: pointer;
    transition: $animation;
    margin-bottom: 30px;

    &:focus,
    &:hover {
        background-color: darken($accent_color, 7);
    }

    &:active {
        background-color: $additional_color;
    }
}