.link {
    display: block;
    width: fit-content;
    margin-inline: auto;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #02061A;
    font-weight: bold;
    border: 2px solid #02061A;
    background-color: #fff;
    outline: none;
    cursor: pointer;
    transition: opacity ease .3s;
    margin-bottom: 30px;

    &:focus,
    &:hover {
        opacity: 0.6;
    }

    &:active {
        opacity: 0.3;
    }
}